@import '~antd/es/style/themes/default.less';

@SidebarColor: #1e6e59;


html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

//......................Custom .....................//
.ant-layout-sider {
  background: @SidebarColor  !important;

  .ant-pro-sider-menu-logo h1 {
    display: none !important;
  }

  .ant-menu,
  .ant-pro-sider-menu-logo {
    background: @SidebarColor  !important;
  }

}

.supplierExpandableRow {

  .ant-descriptions-bordered .ant-descriptions-view {
    border: none !important;
  }

  .ant-descriptions-item-label,
  .ant-descriptions-item-content {
    padding: 8px 16px !important;
    border: 1px solid #f0f0f0 !important;
  }
}

.tag-primary-color {
  // background-color: rgb(135, 208, 104) !important;
  background-color: @primary-color  !important;
  color: white !important;
}

.customExpendableRow {
  border-left: 4px solid @primary-color;
}

.OuterTable {
  .ant-table-expanded-row>.ant-table-cell {
    padding: 0px !important;
  }
}

.NestedTable {

  .ant-table {
    margin: 0px 0px 0px 0px !important;

    .NestFirtColum {
      padding-left: 25px !important;
    }
  }
}

.Dragable-list {

  .error {
    border: 1px solid red;
  }
}

.row-dragging {
  background: #fafafa;
  border: 1px solid #ccc;
}

.row-dragging td {
  padding: 16px;
  visibility: hidden;
}

.row-dragging .drag-visible {
  visibility: visible;
}

.Dragable-list-action {
  span {
    padding: 0px 7px 0px 7px;
  }
}

.CustomEditableTable {
  .ant-table-footer {
    background-color: #ffff;

  }

  .ant-form-item-explain {
    font-size: 10px;
  }
}

.stock_movement {
  .ant-form-item {
    margin-bottom: 10px;
  }
}



.vd-id-badge {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  text-align: left;
  overflow: hidden;
}

.vd-id-badge.vd-id-badge--small:not(.vd-id-badge--interactive-selection) .vd-id-badge__image {
  width: 50px;
  height: 50px;
  min-width: auto;
  min-height: auto;
}

.vd-id-badge__image {
  background-color: var(--vd-colour--framing);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  min-width: 76px;
  min-height: 76px;
  border-radius: 5px;
  flex-shrink: 0;
  overflow: hidden;
}


//......................Custom .....................//
@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;

    &-thead>tr,
    &-tbody>tr {

      >th,
      >td {
        white-space: pre;

        >span {
          display: block;
        }
      }
    }
  }
}

// 兼容IE11
@media screen and(-ms-high-contrast: active),
(-ms-high-contrast: none) {
  body .ant-design-pro>.ant-layout {
    min-height: 100vh;
  }
}
