@import '~antd/es/style/themes/default.less';

@SidebarColor: #1e6e59;


html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

.ant-layout-sider {
  background: @SidebarColor  !important;

  .ant-pro-sider-menu-logo h1 {
    display: none !important;
  }

  .ant-menu,
  .ant-pro-sider-menu-logo {
    background: @SidebarColor  !important;
  }

}

.supplierExpandableRow {

  .ant-descriptions-bordered .ant-descriptions-view {
    border: none !important;
  }

  .ant-descriptions-item-label,
  .ant-descriptions-item-content {
    padding: 8px 16px !important;
    border: 1px solid #f0f0f0 !important;
  }
}

.tag-primary-color {
  // background-color: rgb(135, 208, 104) !important;
  background-color: @primary-color  !important;
  color: white !important;
}

.customExpendableRow {
  border-left: 4px solid @primary-color;
}

.OuterTable {
  .ant-table-expanded-row>.ant-table-cell {
    padding: 0px !important;
  }
}

.NestedTable {

  .ant-table {
    margin: 0px 0px 0px 0px !important;

    .NestFirtColum {
      padding-left: 25px !important;
    }
  }
}


@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;

    &-thead>tr,
    &-tbody>tr {

      >th,
      >td {
        white-space: pre;

        >span {
          display: block;
        }
      }
    }
  }
}

// 兼容IE11
@media screen and(-ms-high-contrast: active),
(-ms-high-contrast: none) {
  body .ant-design-pro>.ant-layout {
    min-height: 100vh;
  }
}
